.gallery-wrapper {
  height: 100vh;
  overflow: hidden;
}

.float {
  position: absolute;
  z-index: 10;
  right: 0;
  width: 15rem;
  text-align: right;
  padding: 0.25rem 3rem;
  backdrop-filter: invert(1);
}

.wide {
  width: 20rem;
}

.center-float {
  top: 50%;
  left: 50%;
  width: 20rem;
  transform: translate(-50%, -50%);
}

.float-no-invert {
  backdrop-filter: none;
  mix-blend-mode: normal;
  color: #ece9eb;
}

.back:hover {
  cursor: pointer;
}

.back:last-child:hover::before {
  content: '← ';
}

.loader-div {
  color: #ece9eb;
}

@media screen and (max-width: 25rem) {
  .back:last-child::before {
    content: '← ';
  }
}
