.gallery-wrapper {
  height: 100vh;
  overflow: hidden;
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iYmxhY2siLz48L3N2Zz4='),
    auto;
}

.float {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: right;
  padding: 1rem 3rem;
}

.back:hover {
  cursor: pointer;
}

.back:last-child:hover::before {
  content: '← ';
}

@media screen and (max-width: 25rem) {
  .back:last-child::before {
    content: '← ';
  }
}
