.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll-img {
  width: calc(100vw / 4);
  height: auto;
  image-rendering: pixelated;
}

.projects-wrapper {
  height: 100vh;
  overflow: hidden;
}

.projects-item {
  border-top: 0.05rem solid #ece9eb;
  background: left / 0% 100% no-repeat linear-gradient(#ece9eb, #ece9eb);
  transition: background-size 500ms;
  padding: 0.25rem 1rem;
}

.project-name {
  color: #0e080b;
  font-size: 1rem;
}

.projects-item:hover,
.projects-item:focus {
  background: right / 100% 100% no-repeat linear-gradient(#ece9eb, #ece9eb);
  color: #0e080b;
  cursor: pointer;
  display: flex;
  justify-content: end;
}

/* .project-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.project-desc {
  font-size: 0.8rem;
}

.scroll-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.ext-link:after {
  content: ' ↗';
}

.float-projects {
  position: absolute;
  z-index: 0;
  right: 0;
  width: 15rem;
  text-align: right;
  padding: 0.25rem 3rem;
  backdrop-filter: blur(10px);
  background-color: #5a5a5a7a;
}
